body {
	font-family: OCR A Std, monospace;
	background: black;
}

.header {
	margin: top;
}

.text-pr {
	color: chartreuse;
}

.text-sr {
	color: red;
}

.text-tr {
	color: aqua;
}

.font-35 {
	font-size: 35px;
}

.font-30 {
	font-size: 30px;
}

.font-25 {
	font-size: 25px;
}

.font-20 {
	font-size: 20px;
}

.fvsc {
	font-variant: small-caps;
}

.fvlc {
	font-variant: small-caps;
}

.text-center {
	text-align: center;
}

.d-flex {
	display: flex;
}

.self-center {
	margin: auto;
}

.self-right {
	float: right;
}

.justify-ct-ct {
	justify-content: center;
}

.justify-ct-rt {
	justify-content: right;
	margin: left;
}

.mbt {
	margin-bottom: 20px;
}

.border-top-pr {
	border-top: 0.7px solid chartreuse;
}

.border-top-sr {
	border-top: 0.7px solid red;
}

.border-top-tr {
	border-top: 0.7px solid aqua;
}

.btn {
	border-radius: 4px;
	background: transparent;
	padding: 5px;
	text-decoration: none;
}

.btn:hover {
	transition: 0.3s;
}

.btn-primary {
	color: chartreuse;
	border: 1px solid chartreuse;
}

.btn-primary:hover {
	box-shadow: 0 0 0 .25rem chartreuse;
	color: black;
	background: chartreuse;
	cursor: pointer;
}

.btn-secondary {
	color: red;
	border: 1px solid red;
}

.btn-secondary:hover {
	box-shadow: 0 0 0 .25rem red;
	color: black;
	background: red;
	cursor: pointer;
}

.btn-tertiary {
	color: aqua;
	border: 1px solid aqua;
}

.btn-tertiary:hover {
	box-shadow: 0 0 0 .25rem aqua;
	color: black;
	background: aqua;
	cursor: pointer;
}

.stretched-link::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	content: "";
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background: transparent;
	background-clip: border-box;
	border-radius: .25rem;
	padding: 10px;
}

.card-pr {
	border: 0.7px solid chartreuse;
	color: chartreuse;
}

.card-sr {
	border: 0.7px solid red;
	color: red;
}

.card-tr {
	border: 0.7px solid aqua;
	color: aqua;
}

.card-img-top {
	position: relative;
	width: 90%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.card-title {
	flex: 1 1 auto;
	padding: 0rem 1rem;
}

.card-body {
	flex: 1 1 auto;
	padding: 1rem 1rem;
}
